@model ASTEK.Architecture.UI.MVC.Models.Comment.CommentViewModel

<div class="personal-comments-area">

    <div class="personal-comment main-comment">

        <div class="post-info">

            <div class="left-area">
                @Html.Partial("_AccountPicture", Model.Comment.Account)
            </div>

            <div class="middle-area">
                <span class="personal-comment-account-name"><b>@Html.Partial("_AccountName", Model.Comment.Account)</b></span>
                <h6 class="date">@Model.Comment.COMDATE.ToString("dd-MM-yyyy hh:mm")</h6>
            </div>

            @*<div class="right-area">
                <h5 class="reply-btn"><a href="#"><b>Répondre</b></a></h5>
            </div>*@

        </div><!-- post-info -->

        <p class="personal-comment-content">
            @Model.Comment.COMCONTENT
        </p>

    </div>



    @foreach (var answer in Model.Answers)
    {
        @Html.Partial("~/Views/CommentAnswer/_CommentAnswerCard.cshtml", answer)
    }

    <div class="personal-comment">
        @using (Html.BeginForm("AnswerComment", "Lesson", FormMethod.Post))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.HiddenFor(m => m.AnswerInput.CommentId)
                    @Html.HiddenFor(m => m.AnswerInput.LessonId)
                    @Html.TextBoxFor(m => m.AnswerInput.Content, new { @class = "text-area-messge form-control add-comment-form", placeholder = "Votre réponse" })
                </div><!-- col-sm-12 -->
            </div><!-- row -->
        }
    </div><!-- comment-form -->

</div><!-- commnets-area -->