@model ASTEK.Architecture.UI.MVC.Models.Study.StudyViewModel

@{
    ViewBag.Title = string.Format(UIStrings.Title_Study_Index, Model.Study.STDNAME);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customStyles
{
    <link href="@Url.Content("~/Content/layouts/front-page-category/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layouts/front-page-category/css/responsive.css")" rel="stylesheet" />
}
<div class="personal-small-slider personal-study-slider" style="background-image: url(@Url.Content(Model.BaseFileUrl + Model.ImageFolder + Model.StudyFolder + Model.Study.STDPICTURE));">
    <div class="display-table personal-study-title">
        <h2 class="title display-table-cell"><b>@Model.Study.STDNAME</b></h2>
    </div>
</div><!-- slider -->

<section class="blog-area section">
    <div class="container-fluid">
        <div class="row personal-study-row">
            <div class="col-md-12 text-left">
                <h3>Récemment publiés pour cette filière</h3>
            </div>

            @foreach (var lesson in Model.RecentLessons)
            {
                <div class="col-lg-2 col-md-3">
                    @Html.Partial("_LessonCard", lesson)
                </div><!-- col-lg-4 col-md-6 -->
            }
        </div><!-- row -->

        <div class="row personal-study-row">
            <div class="col-md-12">
                <div class="small-space-top">
                    @using (Html.BeginForm("Index", "Study", FormMethod.Get, new { @class = "pagination-form" }))
                    {
                        @Html.HiddenFor(m => m.Page)
                        @Html.Hidden("id", Model.Study.Id)

                        <div class="form-group row">
                            <label for="page" class="control-label">Page</label>

                            <ul class="personal-pagination-list">
                                @for (var i = 1; i <= Model.TotalRecentsPage; i++)
                                {
                                    <li>
                                        @if (i == Model.RecentPage)
                                        {
                                            <input type="submit" name="recentPage" value="@i" class="personal-pagination-item current-page" />
                                        }
                                        @if (i != Model.RecentPage)
                                        {
                                            <input type="submit" name="recentPage" value="@i" class="personal-pagination-item" />
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row personal-study-row">
            <div class="col-md-12 text-left">
                <h3>Meilleurs cours dans la filière</h3>
            </div>


            @foreach (var lesson in Model.BestLessons)
            {
                <div class="col-lg-2 col-md-3">
                    @Html.Partial("_LessonCard", lesson)
                </div><!-- col-lg-4 col-md-6 -->
            }

        </div><!-- row -->

        <div class="row personal-study-row">
            <div class="col-md-12">
                <div class="small-space-top">
                    @using (Html.BeginForm("Index", "Study", FormMethod.Get, new { @class = "pagination-form" }))
                    {
                        @Html.HiddenFor(m => m.RecentPage)
                        @Html.Hidden("id", Model.Study.Id)

                        <div class="form-group row">
                            <label for="page" class="control-label">Page</label>

                            <ul class="personal-pagination-list">
                                @for (var i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li>
                                        @if (i == Model.RecentPage)
                                        {
                                            <input type="submit" name="page" value="@i" class="personal-pagination-item current-page" />
                                        }
                                        @if (i != Model.RecentPage)
                                        {
                                            <input type="submit" name="page" value="@i" class="personal-pagination-item" />
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div><!-- container -->
</section><!-- section -->