@model ASTEK.Architecture.UI.MVC.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

@section customStyles
{
    <link href="@Url.Content("~/Content/layouts/single-post-1/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layouts/single-post-1/css/responsive.css")" rel="stylesheet" />
}

<section class="post-area section">

    <div class="container">
        @if (!string.IsNullOrEmpty(Model.Status) && Model.Status.Equals("success"))
        {
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    Informations mis à jour
                </div>
            </div>
        }

        <div class="col-md-12">
            <h4 class="pre-title">Modifier vos informations</h4>
        </div>

        <hr />

        <div class="col-md-12">
            @*<div class="row">*@
            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal row", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="col-md-4"></div>

                <div class="col-md-8">

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })

                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })

                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
              
                    <div class="form-group space-top">
                        <div class="col-md-12 text-right">
                            @Html.ActionLink("Ignorer les modifications", "Index", "Dashboard", new { style = "margin-right: 20px;" })
                            <button type="submit" class="personal-btn-simple col-md-4">Ajouter un mot de passe</button>
                        </div>
                    </div>
                </div>
            }
            @*</div>*@
        </div>
    </div>
</section><!-- post-area -->

@section customScripts {
    @Scripts.Render("~/bundles/jqueryval")
}