@model ASTEK.Architecture.UI.MVC.Models.Exercice.AnswerViewModel
@{
    ViewBag.Title = "Importer les réponses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section customStyles
{
    <link href="@Url.Content("~/Content/layouts/single-post-2/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layouts/single-post-2/css/responsive.css")" rel="stylesheet" />
}
<div class="slider personal-slider-center" style="background-image: url(@Url.Content(Model.BaseFileUrl + Model.ImageFolder + "slider-1c2.jpg"))"></div><!-- slider -->

<section class="post-area">
    <div class="container">

        <div class="row">

            <div class="col-lg-1 col-md-0"></div>
            <div class="col-lg-10 col-md-12">

                <div class="main-post">

                    <div class="container">
                        <div class="post-top-area">

                            <h3 class="pre-title">Importer les réponses</h3>

                            <hr />

                        </div><!-- post-top-area -->

                        <div class="post-content new-lesson">
                            @using (Html.BeginForm("Answer", "Exercice", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*@Html.ValidationMessage("ValidatorErrors", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="file" class="col-md-12 control-label">Fichier contenant les réponses</label>

                                    <div class="col-md-12">
                                        <input type="file" name="file" id="file" class="form-control" required/>

                                    </div>
                                </div>

                                <div class="form-group space-top">
                                    @Html.LabelFor(m => m.Input.Comment, new { @class = "col-md-12 control-label" })

                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.Input.Comment, new { @class = "form-control col-md-12", rows = "10" })
                                        @Html.ValidationMessageFor(m => m.Input.Comment, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.HiddenFor(m => m.Input.LessonId)

                                <div class="form-group text-right space-top">
                                    <button type="submit" class="personal-btn-simple">Valider</button>
                                </div>
                            }
                        </div>
                    </div>
                </div><!-- main-post -->
            </div><!-- col-lg-8 col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- post-area -->

@section customScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
