@model ASTEK.Architecture.UI.MVC.Models.Exercice.ResultViewModel
@{
    ViewBag.Title = "Correction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section customStyles
{
    <link href="@Url.Content("~/Content/layouts/single-post-2/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layouts/single-post-2/css/responsive.css")" rel="stylesheet" />
}
<div class="slider personal-slider-center" style="background-image: url(@Url.Content(Model.BaseFileUrl + Model.ImageFolder + "slider-1c2.jpg"))"></div><!-- slider -->

<section class="post-area">
    <div class="container">

        <div class="row">

            <div class="col-lg-1 col-md-0"></div>
            <div class="col-lg-10 col-md-12">

                <div class="main-post">

                    <div class="container">
                        <div class="post-top-area">

                            <h3 class="pre-title">Noter la réponse</h3>

                            <hr />

                        </div><!-- post-top-area -->

                        <div class="post-content new-lesson">
                            @using (Html.BeginForm("Result", "Exercice", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*@Html.ValidationMessage("ValidatorErrors", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.ActionLink("Télécharger le fichier", "AnswerFile", "Exercice", new { answerId = Model.Input.AnswerId }, null)
                                </div>

                                if (!string.IsNullOrEmpty(Model.AnswerExercice.ANSCOMMENT))
                                {
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h4>Commentaire de l'étudiant </h4>
                                            <p>@Model.AnswerExercice.ANSCOMMENT</p>
                                        </div>
                                    </div>
                                }

                                <div class="form-group space-top">
                                    @Html.LabelFor(m => m.Input.Mark, new { @class = "col-md-12 control-label" })

                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Input.Mark, new { @class = "form-control col-md-3" })
                                        @Html.ValidationMessageFor(m => m.Input.Mark, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group space-top">
                                    @Html.LabelFor(m => m.Input.Valuation, new { @class = "col-md-12 control-label" })

                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Input.Valuation, new { @class = "form-control col-md-12", rows = "10" })
                                        @Html.ValidationMessageFor(m => m.Input.Valuation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group space-top">
                                    @Html.LabelFor(m => m.Input.Comment, new { @class = "col-md-12 control-label" })

                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.Input.Comment, new { @class = "form-control col-md-12", rows = "10" })
                                        @Html.ValidationMessageFor(m => m.Input.Comment, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.HiddenFor(m => m.Input.AnswerId)

                                <div class="form-group text-right space-top">
                                    <button type="submit" class="personal-btn-simple">Valider</button>
                                </div>
                            }
                        </div>
                    </div>
                </div><!-- main-post -->
            </div><!-- col-lg-8 col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- post-area -->

@section customScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
