@model ASTEK.Architecture.UI.MVC.Models.Home.HomeViewModel
@{
    ViewBag.Title = UIStrings.Title_Home_Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sliderImage = "personal-slider-2.jpg";
}

@section customStyles
{
    <link href="@Url.Content("~/Content/layouts/front-page-category/css/styles.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/layouts/front-page-category/css/responsive.css")" rel="stylesheet" />
}

<div class="personal-slider home-slider" style="background-image: url(@Url.Content(Path.Combine(Model.BaseFileUrl, Model.ImageFolder, sliderImage)))">
    <div class="display-table  center-text">
        <div class="title display-table-cell">
            <h2 class="hero-element-title">@UIStrings.Home_Index_HeroTitle</h2>
            <h6 class="hero-element-subtitle">@UIStrings.Home_Index_HeroSubtitle</h6>
            <a class="hero-btn" data-toggle="modal" data-target="#modalRegister"><h6><b>@UIStrings.Home_BecomeMember</b></h6></a>
        </div>
    </div>
</div>

@Html.Partial("_StudySlider", Model.Studies.Response.Studies)


<section class="blog-area personal-section space-top">
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_ErrorAlert")

            <div class="col-md-12 text-left">
                <h3>@UIStrings.Home_LessonsMayLike</h3>
            </div>

            @foreach (var lesson in Model.MayLike)
            {
                <div class="col-lg-2 col-md-3">
                    @Html.Partial("_LessonCard", lesson)
                </div>
            }

        </div><!-- row -->

        <div class="row">
            <div class="col-md-12 text-left">
                <h3>@UIStrings.Home_RecentLessons</h3>
            </div>

            @foreach (var lesson in Model.Recents)
            {
                <div class="col-lg-2 col-md-3">
                    @Html.Partial("_LessonCard", lesson)
                </div><!-- col-lg-4 col-md-6 -->
            }
        </div><!-- row -->

        <div class="row">
            <div class="col-md-12">
                <div class="small-space-top">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "pagination-form" }))
                    {
                        <div class="form-group row">
                            <label for="page" class="control-label">Page</label>

                            <ul class="personal-pagination-list">
                                @for (var i = 1; i <= Model.TotalRecentsPage; i++)
                                {
                                    <li>
                                        @if (i == Model.RecentPage)
                                        {
                                            <input type="submit" name="recentPage" value="@i" class="personal-pagination-item current-page" />
                                        }
                                        @if (i != Model.RecentPage)
                                        {
                                            <input type="submit" name="recentPage" value="@i" class="personal-pagination-item" />
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div><!-- container -->
</section><!-- section -->